
<%- include("header") %>
<h2>This is the about page</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit numquam
    possimus debitis aspernatur, quisquam quae! Cumque dolorum quisquam saepe ex,
    error distinctio quis, at blanditiis aut voluptas deleniti accusantium commodi
    explicabo ad, adipisci pariatur? Dolores repellendus consectetur quasi aliquid
    ex. Quidem, iste quia saepe placeat, in rerum repellendus eius ut fuga, sed
    maxime? Molestias quidem in doloremque voluptate, atque amet vel voluptatum
    debitis, illum dolor excepturi at rerum quibusdam ullam repudiandae saepe sunt
    aliquid. Consectetur culpa, velit atque in quibusdam ullam qui asperiores
    possimus reiciendis laudantium iste quod quidem sequi saepe odit corporis
    dolor nulla ex adipisci modi reprehenderit iusto?
</p>
<%- include("footer") %>
